body {
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: url(https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2020/02/0/0/iStock-airline.jpg?ve=1&tl=1);
      background-size:cover;
      font-family: "Roboto", sans-serif;
    }

    .btn {
      padding: 8px 20px;
      border-radius: 5%;
      overflow: hidden;
      margin-left:0cm;
      background-color: #c76728;
      border-color: #c76728;
      color: #fff;
      
      ::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(120deg,
            transparent,
            var(--primary-color),
            transparent);
        color: #c76728;
        transform: translateX(-100%);
        transition: 0.6s;
      
      }

      &:hover {
        background: transparent;
        box-shadow: 0 0 20px 10px hsla(27, 92%, 52%, 0.863);

        &::before {
          transform: translateX(100%);
        }
      }
    }

    .form-input-material {
      --input-default-border-color: white;
      --input-border-bottom-color: white;
      align-content: center;

      input {
        color: white;
      }
    }

    .login-form {
      font-family: "Roboto", sans-serif;
      width: 1520px;
      align-content: center;

      align-items: center;
      padding: 50px 40px;
      color: white;
      background: rgba(0, 0, 0, 0.8);
      border-radius: 10px;
      box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
        0 1px 1px rgba(128, 128, 128, 0.155),
        0 2.1px 2.1px rgba(128, 128, 128, 0.195),
        0 4.4px 4.4px rgba(128, 128, 128, 0.241),
        0 12px 12px rgba(128, 128, 128, 0.35);

      h1 {
        margin: 0 0 24px 0;
      }

      .form-input-material {
        margin: 12px 0;
      }

      .btn {
        width: 100%;
        margin: 18px 0 9px 0;
      }
    }


.left_area h2{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
  }
  
  .left_area span{
    color: #c76728;
  }


.profile img {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -o-transform: translate3d(0,-50%,0);
    -ms-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

.img-raised {
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

.rounded-circle {
    border-radius: 30%!important;
}

.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}

img.rounded {
    border-radius: 6px!important;
}
