html *{
    -webkit-font-smoothing: antialiased;
}

.h6, h6 {
    font-size: .75rem !important;
    font-weight: 500;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    line-height: 1.5em;
    text-transform: uppercase;
}
.row2 {
    width: 1300px;
    margin-left: -2.5cm;
}
.name h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    background-color: #d15c0e;
}
.navbar {
    border: 0;
    border-radius: 3px;
    padding: .625rem 0;
    margin-bottom: 20px;
    color: #555;
    background-color: #22242A!important;
    box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15) !important;
    z-index: 1000 !important;
    transition: all 150ms ease 0s;
    
}

.navbar.navbar-transparent {
    z-index: 1030;
    background-color: transparent!important;
    box-shadow: none !important;
    padding-top: 25px;
    color: #fff;
}

.navbar .navbar-brand {
    position: relative;
    color: inherit;
    height: 50px;
    font-size: 1.125rem;
    line-height: 30px;
    padding: .625rem 0;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.navbar .navbar-nav .nav-item .nav-link:not(.btn) .material-icons {
    margin-top: -7px;
    top: 3px;
    position: relative;
    margin-right: 3px;
}

.navbar .navbar-nav .nav-item .nav-link .material-icons {
    font-size: 1.25rem;
    max-width: 24px;
    margin-top: -1.1em;
}

.navbar .navbar-nav .nav-item .nav-link .fa, .navbar .navbar-nav .nav-item .nav-link .material-icons {
    font-size: 1.25rem;
    max-width: 24px;
    margin-top: 0px;
}

.navbar .navbar-nav .nav-item .nav-link {
    position: relative;
    color: inherit;
    padding: .9375rem;
    font-weight: 400;
    font-size: 12px;
    border-radius: 3px;
    line-height: 20px;
}

a .material-icons {
    vertical-align: middle;
}

.fixed-top {
    position: fixed;
    z-index: 1030;
    left: 0;
    right: 0;
}

.profile-page .page-header {
    height: 380px;
    background-position:center;
}

.page-header {
    height: 100vh;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}

.header-filter:after, .header-filter:before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.header-filter::before {
    background: rgba(0,0,0,.5);
}

.main-raised {
    margin: -60px 30px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.main {
    background: #22242A;
    position: relative;
    z-index: 3;
}

.iconos {
    font-size: x-large;
    color: rgb(170, 167, 165);
    margin-top: 0cm;
}

.icon1 {
    text-align: left;
    text-indent: 0.8cm;
    padding-right: 3cm;
}

.icon2 {
    text-align: center;
    text-indent: 1.05cm;
    padding-right: 3cm;
}

.icon3 {
    text-align: right;
    padding-left: 2.15cm;
}


.icon11 {
    text-align: left;
    text-indent: 0.8cm;
    padding-right: 3cm;
}

.icon22 {
    text-align: center;
    text-indent: 1.15cm;
    padding-right: 2.9cm;
}

.icon33 {
    text-align: right;
    padding-left: 2.1cm;
}

.profile-page .profile {
    text-align: center;
}

.profile-page .profile img {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -o-transform: translate3d(0,-50%,0);
    -ms-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

.profname {
    color: #fff;
}
.img-raised {
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

.rounded-circle {
    border-radius: 50%!important;
}

.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}

.title {
    margin-top: 15px;
    margin-bottom: 25px;
    min-height: 32px;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab","Times New Roman",serif;
}

.subtitle1 {
    margin-top: 30px;
    margin-bottom: 5px;
    min-height: 25px;
    color: rgb(170, 165, 165);
    font-weight: 700;
    font-size: medium;
    font-family: "Roboto Slab","Times New Roman",serif;
    text-align: left;
}

.subtitle2 {
    margin-top: 30px;
    margin-bottom: 5px;
    min-height: 25px;
    color: rgb(170, 165, 165);
    font-weight: 700;
    font-size: medium;
    font-family: "Roboto Slab","Times New Roman",serif;
    text-indent: 1.9cm;
    text-align: center;
}
.subtitle3 {
    margin-top: 30px;
    margin-bottom: 5px;
    min-height: 25px;
    color: rgb(170, 165, 165);
    font-weight: 700;
    font-size: medium;
    font-family: "Roboto Slab","Times New Roman",serif;
    text-align: right;
    text-indent: 1.5cm;
    padding-right: 3cm;
}

.subtitle11 {
    margin-top: 10px;
    margin-bottom: 5px;
    min-height: 25px;
    color: rgb(170, 165, 165);
    font-weight: 700;
    font-size: medium;
    font-family: "Roboto Slab","Times New Roman",serif;
    text-align: left;
    text-indent: 1cm;
}

.subtitle22 {
    margin-top: 10px;
    margin-bottom: 5px;
    min-height: 25px;
    color: rgb(170, 165, 165);
    font-weight: 700;
    font-size: medium;
    font-family: "Roboto Slab","Times New Roman",serif;
    text-indent: 3.1cm;
    text-align: center;
}
.subtitle33 {
    margin-top: 10px;
    margin-bottom: 5px;
    min-height: 25px;
    color: rgb(170, 165, 165);
    font-weight: 700;
    font-size: medium;
    font-family: "Roboto Slab","Times New Roman",serif;
    text-align: right;
    text-indent: 2.5cm;
    padding-right: 3cm;
}

.Dato1 {
    margin-top: 10px;
    margin-bottom: 25px;
    min-height: 25px;
    color: #fff;
    font-weight: 400;
    font-size: medium;
    font-family: "Roboto Slab","Times New Roman",serif;
    text-align: left;
    text-indent: 1.8cm;
    padding-right: 3cm;
}

.Dato2 {
    margin-top: 10px;
    margin-bottom: 25px;
    min-height: 25px;
    color: #fff;
    font-weight: 400;
    font-size: medium;
    font-family: "Roboto Slab","Times New Roman",serif;
    text-align: center;
    text-indent: 2.6cm;
    padding-right: 3cm;
}

.Dato3 {
    margin-top: 10px;
    margin-bottom: 25px;
    min-height: 25px;
    color: #fff;
    font-weight: 400;
    font-size: medium;
    font-family: "Roboto Slab","Times New Roman",serif;
    text-align: right;
    padding-left: 2.2cm;
}

.Dato11 {
    margin-top: 10px;
    margin-bottom: 25px;
    min-height: 25px;
    color: #fff;
    font-weight: 400;
    font-size: medium;
    font-family: "Roboto Slab","Times New Roman",serif;
    text-align: left;
    text-indent: 0.8cm;
}

.Dato22 {
    margin-top: 10px;
    margin-bottom: 25px;
    min-height: 25px;
    color: #fff;
    font-weight: 400;
    font-size: medium;
    font-family: "Roboto Slab","Times New Roman",serif;
    text-align: center;
    text-indent: 2.6cm;
}

.Dato33 {
    margin-top: 10px;
    margin-bottom: 25px;
    min-height: 25px;
    color: #fff;
    font-weight: 400;
    font-size: medium;
    font-family: "Roboto Slab","Times New Roman",serif;
    text-align: right;
    padding-left: 2.3cm;
}

.Datos {
    width: 1000px;

}
.profile-page .description {
    margin: 1.071rem auto 0;
    max-width: 600px;
    color: rgb(170, 165, 165);
    font-weight: 300;
}

p {
    font-size: 14px;
    margin: 0 0 10px;
}

.profile-page .profile-tabs {
    margin-top: 4.284rem;
    margin-bottom: 1cm;
    padding-bottom: 1cm;
}

.nav-pills, .nav-tabs {
    border: 0;
    border-radius: 3px;
    padding: 0 15px;
}

.nav .nav-item {
    position: relative;
    margin: 0 2px;
}

.nav-pills.nav-pills-icons .nav-item .nav-link {
    border-radius: 4px;
}

.nav-pills .nav-item .nav-link.active {
    color: rgb(170, 165, 165);
    background-color: #d15c0e;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px #d15c0e;
}

.nav-pills .nav-item .nav-link {
    line-height: 24px;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    color: rgb(110, 110, 110);
    transition: all .3s;
    border-radius: 30px;
    padding: 10px 15px;
    text-align: center;
}

.nav-pills .nav-item .nav-link:not(.active):hover {
    background-color: rgba(200,200,200,.2);
}


.nav-pills .nav-item i {
    display: block;
    font-size: 30px;
    padding: 15px 0;
}

.tab-space {
    padding: 20px 0 50px;
}

.profile-page .gallery {
    margin-top: 3.213rem;
    padding-bottom: 50px;
}

.profile-page .gallery img {
    width: 100%;
    margin-bottom: 2.142rem;
}

.profile-page .profile .name{
    margin-top: -80px;
}

img.rounded {
    border-radius: 6px!important;
}

.tab-content>.active {
    display: block;
}

/*buttons*/
.btn {
    position: relative;
    padding: 12px 30px;
    margin: .3125rem 1px;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.428571;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    border: 0;
    border-radius: .2rem;
    outline: 0;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
    will-change: box-shadow,transform;
}

.btn.btn-just-icon {
    font-size: 20px;
    height: 41px;
    min-width: 41px;
    width: 41px;
    padding: 0;
    overflow: hidden;
    position: relative;
    line-height: 41px;
}

.btn.btn-just-icon fa{
    margin-top: 0;
    position: absolute;
    width: 100%;
    transform: none;
    left: 0;
    top: 0;
    height: 100%;
    line-height: 41px;
    font-size: 20px;
}
.btn.btn-link{
    background-color: transparent;
    color: #555;
}

/* dropdown */




.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 11rem !important;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    background-color: #22242A;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
}

.dropdown-menu.show{
    transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
}


.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover, .dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:hover {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px #d15c0e;
    background-color: #d15c0e;
    color: #22242A;
}
.show .dropdown-toggle:after {
    transform: rotate(180deg);
}

.dropdown-toggle:after {
    will-change: transform;
    transition: transform .15s linear;
}


.dropdown-menu .dropdown-item, .dropdown-menu li>a {
    position: relative;
    width: auto;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    font-size: .8125rem;
    border-radius: .125rem;
    margin: 0 .3125rem;
    transition: all .15s linear;
    min-width: 7rem;
    padding: 0.625rem 1.25rem;
    min-height: 1rem !important;
    overflow: hidden;
    line-height: 1.428571;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.dropdown-menu.dropdown-with-icons .dropdown-item {
    padding: .75rem 1.25rem .75rem .75rem;
}

.dropdown-menu.dropdown-with-icons .dropdown-item .material-icons {
    vertical-align: middle;
    font-size: 24px;
    position: relative;
    margin-top: -4px;
    top: 1px;
    margin-right: 12px;
    opacity: .5;
}

/* footer */

footer{
    margin-top: 10px;
    color: #555;
    padding: 25px;
    font-weight: 300;
    
}
.footer p{
    margin-bottom: 0;
    font-size: 14px;
    margin: 0 0 10px;
    font-weight: 300;
}
footer p a{
    color: #555;
    font-weight: 400;
}

footer p a:hover {
    color: #f17725;
    text-decoration: none;
}

.limiter {
  width: 1500px;
  margin: -9cm auto;
  margin-left: -5cm;
  margin-top: -9cm;
  
}

.container-table100 {
  width: 1500px;
  min-height: 100vh;


  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1300px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
  width: 100%;
  background-color: #fff;
  margin-top: 5cm;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  width: 130px;
  padding-left: 25px;
}

.column100.column1 {
  width: 265px;
  padding-left: 42px;
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}

/*==================================================================
[ Ver5 ]*/
.table100.ver5 tbody tr:nth-child(even) {
  background-color: #e9faff;
}

.table100.ver5 td {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
  position: relative;
}

.table100.ver5 th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #002933;
}

.table100.ver5 .row100:hover td {
  color: #fe3e64;
}

.table100.ver5 .hov-column-ver5 {color: #fe3e64;}
.table100.ver5 .hov-column-ver5::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}

.table100.ver5 .hov-column-head-ver5 {
  background-color: #1a3f48 !important;
  color: #fe3e64;
}

.table100.ver5 .row100 td:hover {
  color: #fe3e64;
}

.table100.ver5 .row100 td:hover:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  border: 1px solid #fe3e64;
}
