<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualiza tu pedido</title>
    <link rel="icon" type="image/png" href="{{url_for('static' , filename = 'images/icons/favicon.ico')}}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static' , filename = 'vendor-copy/bootstrap/css/bootstrap.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static' , filename = 'font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'vendor-copy/animate/animate.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static' , filename = 'vendor-copy/select2/select2.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static' , filename = 'vendor-copy/perfect-scrollbar/perfect-scrollbar.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'css/form2.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>
    <form class="login-form" action="/pedidosUsuario/{{id}}" method="POST">
        <div class="main_title">
            <a href="/homeUsuario"><i style="color:white;" class="fas fa-home"></i></a>
            <a href="javascript:history.back()"><i style="color:white;" class="fas fa-arrow-circle-left"></i></a>
        </div>
        <center>
            <div class="left_area">
                <h2>ACTUALIZA TU <span>PEDIDO</span></h2>
            </div>
        </center>
        <center>
            <div class="form-input-material">
                ID del pedido: <br>
                <input type="hidden" name="idpedido" id="idpedido" value="{{datos[0][0]}}"
                    class="form-control-material">
                <input type="show" name="idPedido2" id="idPedido2" value="{{datos[0][0]}}" class="form-control-material"
                    disabled>
            </div>
            <br><br>
            <div class="form-input-material">
                Viajero: <br>
                <input type="hidden" name="idviajero" id="idviajero" value="{{datos[0][4]}}"
                    class="form-control-material">
                <input type="show" name="idviajero2" id="idviajero2" value="{{datos[0][4]}}"
                    class="form-control-material" disabled>


            </div>
            <br><br>
            <div class="form-input-material">
                ID Viaje: <br>
                <input type="hidden" name="idviaje" id="idviaje" value="{{datos[0][5]}}" class="form-control-material">
                <input type="show" name="idviaje2" id="idviaje2" value="{{datos[0][5]}}" class="form-control-material"
                    disabled>

            </div>
            <br><br>
            <div class="form-input-material">
                Artículo: <br>
                <input type="hidden" name="name" id="name" value="{{datos[0][6]}}" class="form-control-material">
                <input type="show" name="name2" id="name2" value="{{datos[0][6]}}" class="form-control-material"
                    disabled>

            </div>
            <br><br>
            <div class="form-input-material">
                Total: <br>
                <input type="hidden" name="total" id="total" value="{{datos[0][15]}}" class="form-control-material">
                <input type="show" name="total2" id="total2" value="{{datos[0][15]}}" class="form-control-material"
                    disabled>

            </div>
            <br><br>

            <div class="form-input-material">
                Estado: <br>
                <select name="estado" id="estado" class="form-control-material">
                    <option value="none" selected>-</option>
                    {%if datos[0][7] != 'Comprado':%}
                    <option value="Anulado">Anulado</option>
                    <option value="Entregado">Entregado</option>
                    {%else:%}
                    <option value="Entregado">Entregado</option>
                    {%endif%}
                </select>

            </div>
            <br><br>

        </center>
        <center>
            <button type="submit" class="btn btn-primary btn-ghost">Actualizar</button>
        </center>
    </form>
    <!--===============================================================================================-->
    <script src="/static\vendor-copy\jquery\jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static\vendor-copy\bootstrap\js\popper.js"></script>
    <script src="/static\vendor-copy\bootstrap\js\bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static\vendor-copy\select2\select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static\js\main3.js"></script>
</body>

</html>