<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Viajes</title>
</head>
<body>
    <form action="/viajesactivos" method="POST">
        País de Origen: <br>
        <input type="text" value="{{PaisOrigen}}" disabled>
        <br><br>
        Escribe la Fecha de inicio de Viaje: <br>
        <input type="date" name="fechainicio" id="fechainicio">
        <br><br>
        Escribe la Fecha de regreso de Viaje: <br>
        <input type="date" name="fechafinal" id="fechafinal">
        <br><br>
        <input type="submit" value="Buscar">
    </form>
</body>
</html>