<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calificar - Pedido</title>
</head>

<body>
    <h1>Calificación de Pedido</h1>
    <br>

    {% if message %}
    <p style="color: red;">{{message}}</p>
    <br>
    {% endif %}
    <form action="/calificarviajero/{{id}}" method="POST">
        Evalúe su pedido
        <br><br>
        ID del pedido: <br>
        <input type="show" name="idPedido" id="idPedido" value="{{datos[0][0]}}">
        <br><br>
        ID del viajero a calificar: <br>
        <input type="show" name="idUsuarioCalificado" id="idUsuarioCalificado" value="{{datos[0][3]}}">
        <br><br>
        Nota a del pedido (0-10): <br>
        <input type="number" min="0" max="10" step="0.5" name="Nota" id="Nota">
        <br><br>
        Comentario: <br>
        <textarea name="comentario" rows="4" cols="25"></textarea>
        <br><br>
        <input type="submit" value="Enviar">
    </form>
</body>

</html>