<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calificaciones de Viajeros</title>

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{url_for('static' , filename = 'images/icons/favicon.ico')}}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static' , filename = 'vendor-copy/bootstrap/css/bootstrap.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static' , filename = 'font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'vendor-copy/animate/animate.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static' , filename = 'vendor-copy/select2/select2.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static' , filename = 'vendor-copy/perfect-scrollbar/perfect-scrollbar.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'css/util.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'css/main3.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'css/form.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>
    {% if message %}
    <p style="color: red;">{{message}}</p>
    <br>
    {% endif %}
    <div class="login-form" action="/pedidosViajero" method="POST">
        <div class="main_title">
            <a href="/homeAdmin"><i style="color:white;" class="fas fa-home"></i></a>
            <a href="javascript:history.back()"><i style="color:white;" class="fas fa-arrow-circle-left"></i></a>
        </div>
        <center>
            <div class="left_area">
                <h2>CALIFICACIONES DE <span>VIAJEROS</span></h2>
            </div>
        </center>
    </div>
    <br><br>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver5 m-b-110">
                    <table data-vertable="ver5">
                        <thead>
                            <tr class="row100 head">
                                <th class="column100 column0" data-column="column0">ID Calificación</th>
                                <th class="column100 column1" data-column="column1">Usuario</th>
                                <th class="column100 column2" data-column="column2">Viajero</th>
                                <th class="column100 column3" data-column="column3">ID Pedido</th>
                                <th class="column100 column4" data-column="column4">Nota</th>
                                <th class="column100 column5" data-column="column5">Comentarios</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dato in datos%}
                            <tr class="row100">
                                <td class="column100 column0" data-column="column0">{{dato[0]}}</td>
                                <td class="column100 column1" data-column="column1">{{dato[3]}}</td>
                                <td class="column100 column2" data-column="column2">{{dato[4]}}</td>
                                <td class="column100 column3" data-column="column3">{{dato[5]}}</td>
                                <td class="column100 column4" data-column="column4">{{dato[6]}}</td>
                                <td class="column100 column5" data-column="column5">{{dato[7]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="static\vendor-copy\jquery\jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="static\vendor-copy\bootstrap\js\popper.js"></script>
    <script src="static\vendor-copy\bootstrap\js\bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="static\vendor-copy\select2\select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="static\js\main3.js"></script>

</body>
</html>