<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Califica tu pedido</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'css/form.css')}}">
</head>

<body>
    <form class="login-form" action="/calificarviajero/{{datos[0][0]}}" method="POST">

        <center>
            <div class="left_area">
                <h2>CALIFICA TU <span>PEDIDO</span></h2>
            </div>
        </center>
        <center>
            <div class="form-input-material">
                ID del pedido: <br>
                <input type="hidden" name="idPedido" id="idPedido" value="{{datos[0][0]}}"
                    class="form-control-material">
                <input type="show" name="idPedido2" id="idPedido2" value="{{datos[0][0]}}" class="form-control-material"
                    disabled>
            </div>
            <br><br>
            <div class="form-input-material">
                Viajero a calificar: <br>
                <input type="hidden" name="idUsuarioCalificado" id="idUsuarioCalificado" value="{{datos[0][3]}}"
                    class="form-control-material">
                <input type="show" name="idUsuarioCalificado2" id="idUsuarioCalificado2" value="{{datos[0][4]}}"
                    class="form-control-material" disabled>


            </div>
            <br><br>
            <div class="form-input-material">
                Nota a del pedido (0-10): <br>
                <input type="number" min="0" max="10" step="0.5" name="Nota" id="Nota" class="form-control-material"
                    required>

            </div>
            <br><br>
            <div class="form-input-material">
                Comentario: <br>
                <textarea name="comentario" rows="4" cols="25" class="form-control-material"></textarea>

            </div>
            <br><br>
        </center>
        <center>
            <button type="submit" class="btn btn-primary btn-ghost">Enviar</button>
        </center>

    </form>
</body>

</html>