<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard: admin</title>
</head>

<body>
    <h1>dashboard: admin</h1>
    <br>
    <a href="/solicitudes">Solicitudes de viajero pendientes</a>
    <br><br>
    <a href="/deleteuser">Eliminar un usuario</a>
    <br><br>
    <p>este es el dashboard para el admin</p>
    <p>esta loggeado como {{userdata}}</p>
    <form action="/verviajeros" method="POST">
        <input type="hidden" name="user" id="user" value="{{userdata}}">
        <input type="submit" href="/verviajeros" value="VerViajeros" >
    </form>
</body>

</html>