<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Menú - Administrador</title>
  <link rel="stylesheet" href="{{url_for('static' , filename = 'css/dashboard_admin.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>

  <input type="checkbox" id="check">
  <!--header area start-->
  <header>
    <label for="check">
      <i class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <div class="left_area">
      <h3>Admin <span>Travelers</span></h3>
    </div>
    <div class="right_area">
      <a href="/" class="logout_btn">Logout</a>
    </div>
  </header>
  <!--header area end-->
  <!--sidebar start-->
  <div class="sidebar">
    <center>
      {%if userfoto =="":%}
      <img src="/static/img/blankpic.png" alt="Circle Image" class="profile_image">
      {%elif userfoto != none:%}
      <img src="/static/uploads/{{userfoto}}" alt="Circle Image" class="profile_image">
      {%else:%}
      <img src="/static/img/blankpic.png" alt="Circle Image" class="profile_image">
      {%endif%}
      <h4>{{userdata}}</h4>
    </center>
    <a href="/solicitudes"><i class="fas fa-address-book"></i><span>Solicitudes pendientes</span></a>
    <a href="/deleteuser"><i class="fas fa-user-times"></i><span>Eliminar usuario</span></a>
    <a href="/verviajeros"><i class="fas fa-clipboard-list"></i><span>Ver lista de viajeros</span></a>
    <a href="/verpedidos"><i class="fas fa-list-ol"></i><span>Ver lista de pedidos</span></a>
    <a href="/verFacturas"><i class="fas fa-file-invoice-dollar"></i><span>Facturas de pedidos</span></a>
    <a href="/verCalificaciones"><i class="fas fa-star-half-alt"></i><span>Calificaciones</span></a>

  </div>
  <!--sidebar end-->

  <div class="content"></div>
</body>
</html>