<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard: viajero</title>
</head>

<body>
    <h1>dashboard: viajero</h1>
    <br>

    <p>este es el dashboard del viajero</p>
    <p>esta loggeado como {{userdata}}</p>
    <a href="/registrarViajes">Agrega un nuevo viaje</a>
    <br>
    <br>
    <a href="/viajesViajero">Ver tus viajes</a>
    <br><br>
    <a href="/pedidosViajero">Ver tus Pedidos</a>
    <br><br>
    <a href="/solicitudpedidosViajero">Ver tus Solicitudes de Pedidos</a>
</body>

</html>