<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar un Usuario</title>
<style>
    table {
        width: 100%;
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 15px;
        text-align: left;
    }

    #t01 tr:nth-child(even) {
        background-color: #eee;
    }

    #t01 tr:nth-child(odd) {
        background-color: #fff;
    }

    #t01 th {
        background-color: black;
        color: white;
    }
</style>
</head>
<body>
    <h1><center>Selecciona los usuarios a eliminar</center></h1>
    {% if message %}
    <p style="color: red;">{{message}}</p>
    <br>
    {% endif %}
    <form action="/deleteuser" method="POST">
        Escoge el ID del Usuario que deseas eliminar:
        <br><br>
        ID Usuario: <br>
        <select class="" name="idUsuario" id="idUsuario">
            <option value="0" selected>-</option>
            {% for dato in datos%}
            <option value="{{dato[0]}}"> Usuario {{dato[0]}}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Eliminar">
    </form>
    <br><br>
    <table class="tablaOrdenes" id="t01">
    
        <tr>
            <th>ID Usuario</th>
            <th>Usuario</th>
            <th>Nombre Completo</th>
            <th>Correo</th>
            <th>Contraseña</th>
            <th>Fecha de Nacimiento</th>
            <th>Telefono</th>
            <th>Pais</th>
            <th>idTipo</th>
            <th>Foto</th>
        </tr>
        {% for dato in datos%}
        <tr>
            <td>{{dato[0]}}</td>
            <td>{{dato[1]}}</td>
            <td>{{dato[2]}}</td>
            <td>{{dato[3]}}</td>
            <td>{{dato[4]}}</td>
            <td>{{dato[5]}}</td>
            <td>{{dato[6]}}</td>
            <td>{{dato[7]}}</td>
            <td>{{dato[8]}}</td>
            <td>{{dato[9]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>