<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edita tus Datos</title>
    <link rel="icon" type="image/png" href="{{url_for('static' , filename = 'images/icons/favicon.ico')}}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static' , filename = 'vendor-copy/bootstrap/css/bootstrap.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static' , filename = 'font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'vendor-copy/animate/animate.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static' , filename = 'vendor-copy/select2/select2.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static' , filename = 'vendor-copy/perfect-scrollbar/perfect-scrollbar.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'css/editarPerfil.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>
    <form class="login-form" action="/editarPerfilUsuario" method="POST" enctype="multipart/form-data">
        <div class="main_title">
            <a href="/homeUsuario"><i style="color:white;" class="fas fa-home"></i></a>
            <a href="javascript:history.back()"><i style="color:white;" class="fas fa-arrow-circle-left"></i></a>
        </div>
        <center>
            <div class="left_area">
                <h2>EDITA TUS <span>DATOS</span></h2>
            </div>
        </center>
        <center>
            {% for dato in datos%}
            <div class="form-input-material">
                Nombre de Usuario: <br>
                <input type="text" name="usuario" id="usuario" value="{{dato[1]}}" class="form-control-material"
                    required>

            </div>
            <br>
            <div class="form-input-material">
                Correo: <br>
                <input type="email" name="correo" id="correo" value="{{dato[3]}}" class="form-control-material"
                    required>

            </div>
            <br>
            <div class="form-input-material">
                Contraseña: <br>
                <input type="password" name="password" id="password" value="{{dato[4]}}" class="form-control-material"
                    required>

            </div>
            <br>
            <div class="form-input-material">
                Teléfono: <br>
                <input type="number" name="telefono" id="telefono" value="{{dato[6]}}" class="form-control-material"
                    required>

            </div>
            <br>
            <div class="form-input-material">
                País de Residencia: <br>
                <input type="text" name="pais" id="pais" value="{{dato[7]}}" class="form-control-material" required>

            </div>
            <br>
            <div class="form-input-material">
                Foto de Perfil: <br>
                <div>
                    {%if dato[9] =="":%}
                    <img src="static\img\blankpic.png" alt="Circle Image1" class="img-raised rounded-circle img-fluid">
                    {%elif dato[9] != none:%}
                    <img src="static\uploads\{{dato[9]}}" alt="Circle Image2"
                        class="img-raised rounded-circle img-fluid">
                    {%else:%}
                    <img src="static\img\blankpic.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                    {%endif%}
                </div>
                <center><input type="file" name="file" id="file" class="form-control-material" autocomplete="off">
                </center>

            </div>
            <br>
        </center>
        <br>
        <center>
            <button type="submit" class="btn btn-primary btn-ghost">Actualizar</button>
        </center>
        {% endfor %}
    </form>

    <!--===============================================================================================-->
    <script src="static\vendor-copy\jquery\jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="static\vendor-copy\bootstrap\js\popper.js"></script>
    <script src="static\vendor-copy\bootstrap\js\bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="static\vendor-copy\select2\select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="static\js\main3.js"></script>
</body>

</html>