<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travelers - Ingresar</title>
  <link rel="stylesheet" href="{{url_for('static' , filename = 'css/login.css')}}">
</head>

<body>
  <form action="/loginform" method="POST">
    <div class="materialContainer">


      <div class="box">

        <div class="title">Travelers</div>

        <div class="input">
          <label for="name">Usuario</label>
          <input type="text" name="user" id="user">
          <span class="spin"></span>
        </div>

        <div class="input">
          <label for="pass">Contraseña</label>
          <input type="password" name="password" id="password">
          <span class="spin"></span>
        </div>

        <div class="button">
          <button><span>Ingresar</span> <i type="submit"></i></button>
        </div>
        {% if message %}
        <p style="color: rgb(255, 123, 0);">{{message}}</p>
        <br>
        {% endif %}
      </div>

      <div class="overbox">
        <div class="material-button alt-2"><span class="shape"></span></div>



      </div>

    </div>
    <script src="static\js\login.js"></script>
  </form>
</body>

</html>