<!DOCTYPE HTML>
<html>
<head>
    <title>¡Gracias por Inscribirte!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'assets/css/main.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>

    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="/"><i style="color:white;" class="fas fa-home"></i></a>TRAVELERS<span>|Empresa de
                encomiendas y envíos</span></div>
    </header>

    <!-- Nav -->
    <!-- Banner -->
    <!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
    <div class="main_title">

    </div>
    <section id="banner" class="bg-img" data-bg="FondoEncomiendas.jpg">
        <div class="inner">
            <header>
                <h1>¡Muchas gracias por inscribirte!</h1>
            </header>
        </div>
    </section>

    <!-- One -->
    <section id="one" class="wrapper post bg-img" data-bg="FondoEncomiendas3.jpg">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>¡Te esperamos en TRAVELERS!</h2>
                </header>
                <div class="content">
                    <p> Somos un empresa que se encarga de traerte tus paquetes o encomiendas desde otros países hasta
                        la puerta de tu casa. Contamos con el mejor personal, trabajadores seguros y muy amables.
                        Además, hemos tomado las medidas sanitarias necesarias para que tus productos lleguen higiénicos
                        y sin ningún riesgo con la situación del COVID-19 que se está viviendo</p>
                </div>

            </article>
        </div>

    </section>

    <!-- Two -->
    <section id="two" class="wrapper post bg-img" data-bg="FondoEncomiendas2.jpg">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>Esperamos poder traerte todo lo que necesitas</h2>
                </header>
                <div class="content">
                    <p> Te damos las gracias por escogernos para que compres lo que más te guste con nostros.
                        Daremos lo mejor para que obtengas tus productos con una calidad increíble de entrega y un
                        servicio amigable.
                    </p>
                </div>
            </article>
        </div>
    </section>


    <!-- Footer -->
    <footer id="footer">
        <div class="inner">

            <h2>Contact Me</h2>
            <h2>Para más información nos puedes contactar por medio de este correo "TravelerSV@gmail.com</h2>

            <ul class="icons">
                <li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>

            <div class="copyright">
                &copy; Untitled. Design: <h3>TravelersDesigners</h3>
            </div>

        </div>
    </footer>

    <!-- Scripts -->
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/jquery.scrolly.min.js"></script>
    <script src="static/assets/js/jquery.scrollex.min.js"></script>
    <script src="static/assets/js/skel.min.js"></script>
    <script src="static/assets/js/util.js"></script>
    <script src="static/assets/js/main.js"></script>

</body>
</html>