<!DOCTYPE HTML>
<html>
<head>
    <title>¡Gracias por tu Pedido!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'assets/css/main.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>

    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="/homeUsuario"><i style="color:white;"
                    class="fas fa-home"></i></a>TRAVELERS<span>|Empresa de
                encomiendas y envíos</span></div>
    </header>

    <!-- Nav -->
    <!-- Banner -->
    <!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
    <div class="main_title">

    </div>
    <section id="banner" class="bg-img" data-bg="FondoPedidosIII.jpg">
        <div class="inner">
            <header>
                <h1>¡Muchas gracias por realizar tu pedido!</h1>
            </header>
        </div>

    </section>

    <!-- One -->
    <section id="one" class="wrapper post bg-img" data-bg="FondoPedidosI.jpg">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>¡Gracias por escoger TRAVELERS!</h2>
                    <p>01.01.2020</p>
                </header>
                <div class="content">
                    <p> Somos un empresa que se encarga de traerte tus paquetes o encomiendas desde otros países hasta
                        la
                        puerta de tu casa. Contamos con el mejor personal, trabajadores seguros y muy amables. Además,
                        hemos
                        tomado las medidas sanitarias necesarias para que tus productos lleguen higiénicos y sin ningún
                        riesgo con la situación del COVID-19 que se está viviendo</p>
                </div>

            </article>
        </div>

    </section>

    <!-- Two -->
    <section id="two" class="wrapper post bg-img" data-bg="FondoPedidosII.jpg">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>Acerca de tu solicitud sobre tu pedido</h2>
                    <p>Fecha estimada de llegada:</p>
                    <p>{{FechaEntrega}}</p>
                </header>
                <div class="content">
                    <p> Antes que nada, te damos las gracias por haber solicitado tu paquete junto a nuestro gran
                        equipo,
                        ¡prometemos no defraudarte! En menos de 24 horas recibirás un correo en el cual se detallará si
                        tu
                        solicitud acerca del pedido ha sido aceptada, por ahorita nuestra empresa se encarga de revisar
                        todos los datos y requisitos para que todo esté en orden. Muchísimas gracias por tu comprensión
                        y
                        por tu paciencia</p>
                </div>
            </article>
        </div>
    </section>


    <!-- Footer -->
    <footer id="footer">
        <div class="inner">

            <h2>Contact Me</h2>
            <h2>Para más información nos puedes contactar por medio de este correo "TravelerSV@gmail.com</h2>

            <ul class="icons">
                <li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>

            <div class="copyright">
                &copy; Untitled. Design: <h3>TravelersDesigners</h3>
            </div>

        </div>
    </footer>

    <!-- Scripts -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/jquery.scrolly.min.js"></script>
    <script src="/static/assets/js/jquery.scrollex.min.js"></script>
    <script src="/static/assets/js/skel.min.js"></script>
    <script src="/static/assets/js/util.js"></script>
    <script src="/static/assets/js/main.js"></script>

</body>
</html>