<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos los pedidos</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{url_for('static' , filename = 'images/icons/favicon.ico')}}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static' , filename = 'vendor-copy/bootstrap/css/bootstrap.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static' , filename = 'font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'vendor-copy/animate/animate.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static' , filename = 'vendor-copy/select2/select2.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static' , filename = 'vendor-copy/perfect-scrollbar/perfect-scrollbar.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'css/util.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'css/main3.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'css/form.css')}}">
    <style> 
        input[type=button], input[type=submit], input[type=reset] {
            background-color: #0000cc;
            border: none;
            color: white;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    {% if message %}
    <p style="color: red;">{{message}}</p>
    <br>
    {% endif %}
    <div class="login-form" action="/pedidosAdmin" method="POST">
      <center>
            <div class="left_area">
                <h2>ACTUALIZA LOS <span>PEDIDOS</span></h2>
            </div>
        </center>

    <form action="/verpedidos" method="POST">
    <br>
       Selecciona el ID del pedido que deseas actualizar
        <br>
        ID Pedido: <br>
        <select class="" name="idpedido" id="idpedido">
            <option value="none" selected>-</option>
            {% for dato in datos%}
            <option value="{{dato[0]}}"> Pedido {{dato[0]}}</option>
            {% endfor %}
        </select>
        <br><br>
        Estado: <br>
        <select class="" name="estado" id="estado">
            <option value="none" selected>-</option>
            <option value="Entregado">Entregado</option>
            <option value="Anulado">Anulado</option>
            <option value="Comprado">Comprado</option>
            <option value="Aceptado">Aceptado</option>
            <option value="Rechazado">Rechazado</option>
        </select>
        <br><br>
        <input type="submit" value="Actualizar">
    </form>
    </div>
    <br>
     <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver5 m-b-110">
                    <table data-vertable="ver5">
                        <thead>
                             <tr class="row100 head">
                                <th class="column100 column0" data-column="column0">ID Pedido</th>
                                <th class="column100 column1" data-column="column1">ID Usuario</th>
                                <th class="column100 column2" data-column="column2">ID Viajero</th>
                                <th class="column100 column3" data-column="column3">ID Viaje</th>
                                <th class="column100 column4" data-column="column4">Nombre del artículo</th>
                                <th class="column100 column5" data-column="column5">Estado</th>
                                <th class="column100 column6" data-column="column6">Precio (USD)</th>
                                <th class="column100 column7" data-column="column7">Peso (lb)</th>
                                <th class="column100 column8" data-column="column8">Categoría</th>
                                <th class="column100 column9" data-column="column9">Cantidad</th>
                                <th class="column100 column10" data-column="column10">Otras especificaciones</th>
                                <th class="column100 column11" data-column="column11">URL</th>
                                <th class="column100 column12" data-column="column12">País</th>
                                <th class="column100 column13" data-column="column13">Fecha estimada de entrega</th>
                                <th class="column100 column14" data-column="column14">Total</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for dato in datos%}
                            <tr class="row100">
                                <td class="column100 column0" data-column="column0">{{dato[0]}}</td>
                                <td class="column100 column1" data-column="column1">{{dato[1]}}</td>
                                <td class="column100 column2" data-column="column2">{{dato[2]}}</td>
                                <td class="column100 column3" data-column="column3">{{dato[3]}}</td>
                                <td class="column100 column4" data-column="column4">{{dato[4]}}</td>
                                <td class="column100 column5" data-column="column5">{{dato[5]}}</td>
                                <td class="column100 column6" data-column="column6">${{dato[6]}}</td>
                                <td class="column100 column7" data-column="column7">{{dato[7]}}</td>
                                <td class="column100 column8" data-column="column8">{{dato[8]}}</td>
                                <td class="column100 column9" data-column="column9">{{dato[9]}}</td>
                                <td class="column100 column10" data-column="column10">{{dato[10]}}</td>
                                <td class="column100 column11" data-column="column11">{{dato[11]}}</td>
                                <td class="column100 column12" data-column="column12">{{dato[12]}}</td>
                                <td class="column100 column13" data-column="column13">{{dato[13]}}</td>
                                <td class="column100 column14" data-column="column14">${{dato[14]}}</td>
                                
                             </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>

     <script src="static\vendor-copy\jquery\jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="static\vendor-copy\bootstrap\js\popper.js"></script>
    <script src="static\vendor-copy\bootstrap\js\bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="static\vendor-copy\select2\select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="static\js\main3.js"></script>
   
</body>
</html>