<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Perfil</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesheet"
        href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
    <link rel="stylesheet" href="{{url_for('static' , filename = 'css/PerfilDiseñoUser.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body class="profile-page">
    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100"
        id="sectionsNav">
        {% for dato in datos%}
        <div class="container">
            <div class="navbar-translate">
                Perfil del Usuario No {{dato[0]}}
                <div class="main_title">
                    <a href="/homeUsuario"><i style="color:white;" class="fas fa-home"></i></a>
                    <a href="javascript:history.back()"><i style="color:white;"
                            class="fas fa-arrow-circle-left"></i></a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                            <i class="material-icons">apps</i> Opciones
                        </a>
                        <div class="dropdown-menu dropdown-with-icons">
                            <a href="/editarPerfilUsuario" class="dropdown-item">
                                <i class="material-icons">edit</i> Editar tu Perfil
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-header header-filter" data-parallax="true"
        style="background-image:url('../static/img/Travel_main.jpg');">
    </div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                {%if dato[9] =="":%}
                                <img src="static\img\blankpic.png" alt="Circle Image"
                                    class="img-raised rounded-circle img-fluid">
                                {%elif dato[9] != none:%}
                                <img src="static\uploads\{{dato[9]}}" alt="Circle Image"
                                    class="img-raised rounded-circle img-fluid">
                                {%else:%}
                                <img src="static\img\blankpic.png" alt="Circle Image"
                                    class="img-raised rounded-circle img-fluid">
                                {%endif%}
                            </div>
                            <div class="name">
                                <h3 class="title">{{dato[2]}}</h3>
                                <h4 class="profname">@{{dato[1]}}</h4>
                                <div class="Datos1">
                                    <div class="row">
                                        <h3 class="subtitle1">Cantidad de Pedidos</h3>
                                        <h3 class="subtitle2">Calificación Promedio</h3>
                                    </div>
                                </div>
                                <div class="Datos1">
                                    <div class="row">

                                        <h4 class="Dato1">{{dato[10]}}</h4>
                                        {%if dato[11] == 0 :%}
                                        <h4 class="Dato2">N/A</h4>
                                        {%elif dato[11] != none:%}
                                        <h4 class="Dato2">{{dato[11]}}</h4>
                                        {%else:%}
                                        <h4 class="Dato2">N/A</h4>
                                        {%endif%}

                                    </div>
                                </div>
                                <div class="Datos1">
                                    <div class="iconos">
                                        <div class="row">
                                            <div class="icon1">
                                                <i class="material-icons">card_travel</i>
                                            </div>
                                            <div class="icon2">
                                                <i class="material-icons">star</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br><br><br><br>
                            <div class="name">
                                <h3 class="title">DATOS DE CONTACTO</h3>
                                <div class="Datos">
                                    <div class="row">
                                        <h3 class="subtitle11">Teléfono</h3>
                                        <h3 class="subtitle22">Correo Electrónico</h3>
                                        <h3 class="subtitle33">País de Residencia</h3>
                                    </div>
                                </div>
                                <div class="Datos">
                                    <div class="row">
                                        <h4 class="Dato11">{{dato[6]}}</h4>
                                        <h4 class="Dato22">{{dato[3]}}</h4>
                                        <h4 class="Dato33">{{dato[7]}}</h4>
                                    </div>
                                </div>
                                <div class="Datos">
                                    <div class="iconos">
                                        <div class="row">
                                            <div class="icon11">
                                                <i class="material-icons">phone_in_talk</i>
                                            </div>
                                            <div class="icon22">
                                                <i class="material-icons">mail</i>
                                            </div>
                                            <div class="icon33">
                                                <i class="material-icons">flag</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                                        <i class="material-icons">favorite</i>
                                        CALIFICACIONES
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {%endfor%}
                <div class="tab-pane text-center gallery" id="favorite">
                    <div class="row">
                        <div class="limiter">
                            <div class="container-table100">
                                <div class="wrap-table100">
                                    <div class="table100 ver5 m-b-110">
                                        <table data-vertable="ver5">
                                            <thead>
                                                <tr class="row100 head">
                                                    <th class="column100 column0" data-column="column0">No
                                                        Calificación</th>
                                                    <th class="column100 column1" data-column="column1">Usuario
                                                    </th>
                                                    <th class="column100 column2" data-column="column2">No
                                                        Pedido
                                                    </th>
                                                    <th class="column100 column3" data-column="column3">Nota
                                                    </th>
                                                    <th class="column100 column4" data-column="column4">
                                                        Comentarios
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for dato in Notas%}
                                                <tr class="row100">
                                                    <td class="column100 column0" data-column="column0">
                                                        {{dato[0]}}
                                                    </td>
                                                    <td class="column100 column1" data-column="column1">
                                                        {{dato[3]}}
                                                    </td>
                                                    <td class="column100 column3" data-column="column3">
                                                        {{dato[5]}}
                                                    </td>
                                                    <td class="column100 column4" data-column="column4">
                                                        {{dato[6]}}
                                                    </td>
                                                    <td class="column100 column5" data-column="column5">
                                                        {{dato[7]}}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>


        </div>
    </div>

    <footer class="footer text-center ">
        Travelers 2020
    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
    <script src="/static\js\PerfilDiseno.js"></script>




</body>
</html>