<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del Viajero</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesheet"
        href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
    <link rel="stylesheet" href="{{url_for('static' , filename = 'css/PerfilDiseño.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body class="profile-page">
    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100"
        id="sectionsNav">
        {% for dato in datos%}
        <div class="container">
            <div class="navbar-translate">
                <br>
                Perfil del Viajero No {{dato[0]}}

                <div class="main_title">
                    <a href="javascript:history.back()"><i style="color:white;"
                            class="fas fa-arrow-circle-left"></i></a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse">

            </div>
        </div>
    </nav>
    <div class="page-header header-filter" data-parallax="true"
        style="background-image:url('../static/img/Travel_main.jpg');">
    </div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                {%if dato[11] =="":%}
                                <img src="/static/img/blankpic.png" alt="Circle Image"
                                    class="img-raised rounded-circle img-fluid">
                                {%elif dato[11] != none:%}
                                <img src="/static/uploads/{{dato[11]}}" alt="Circle Image"
                                    class="img-raised rounded-circle img-fluid">
                                {%else:%}
                                <img src="/static/img/blankpic.png" alt="Circle Image"
                                    class="img-raised rounded-circle img-fluid">
                                {%endif%}
                            </div>
                            <div class="name">
                                <h3 class="title">{{dato[3]}}</h3>
                                <h4 class="profname">@{{dato[2]}}</h4>
                                <div class="Datos">
                                    <div class="row">
                                        <h3 class="subtitle1">Cantidad de Viajes</h3>
                                        <h3 class="subtitle2">Cantidad de Pedidos</h3>
                                        <h3 class="subtitle3">Calificación Promedio</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <h4 class="Dato1">{{dato[4]}}</h4>
                                    <h4 class="Dato2">{{dato[5]}}</h4>
                                    <h4 class="Dato3">{{dato[6]}}</h4>
                                </div>
                                <div class="Datos">
                                    <div class="iconos">
                                        <div class="row">
                                            <div class="icon1">
                                                <i class="material-icons">flight_takeoff</i>
                                            </div>
                                            <div class="icon2">
                                                <i class="material-icons">card_travel</i>
                                            </div>
                                            <div class="icon3">
                                                <i class="material-icons">star</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br><br><br><br>
                            <div class="name">
                                <h3 class="title">DATOS DE CONTACTO</h3>
                                <div class="Datos">
                                    <div class="row">
                                        <h3 class="subtitle11">Teléfono</h3>
                                        <h3 class="subtitle22">Correo Electrónico</h3>
                                        <h3 class="subtitle33">País de Origen</h3>
                                    </div>
                                </div>
                                <div class="Datos">
                                    <div class="row">
                                        <h4 class="Dato11">{{dato[9]}}</h4>
                                        <h4 class="Dato22">{{dato[7]}}</h4>
                                        <h4 class="Dato33">{{dato[10]}}</h4>
                                    </div>
                                </div>
                                <div class="Datos">
                                    <div class="iconos">
                                        <div class="row">
                                            <div class="icon11">
                                                <i class="material-icons">phone_in_talk</i>
                                            </div>
                                            <div class="icon22">
                                                <i class="material-icons">mail</i>
                                            </div>
                                            <div class="icon33">
                                                <i class="material-icons">flag</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description text-center">
                    <p>Todos nuestros viajeros son personas confiables que garantizan fiabilidad en tu pedido.
                        ¡Están
                        listos para atenderte y que puedas disfrutar todo lo que desees ordenar! </p>
                </div>
                <div class="row2">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#pics" role="tab" data-toggle="tab">
                                        <i class="material-icons">photo_camera</i>
                                        Fotos
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#viajesDisponibles" role="tab" data-toggle="tab">
                                        <i class="material-icons">event_available</i>
                                        Viajes Activos
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#studio" role="tab" data-toggle="tab">
                                        <i class="material-icons">near_me</i>
                                        Viajes
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                                        <i class="material-icons">shopping_cart</i>
                                        Pedidos
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                                        <i class="material-icons">favorite</i>
                                        Calificaciones
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {%endfor%}
                <div class="tab-content tab-space">
                    <div class="tab-pane text-center gallery" id="studio">
                        <div class="row">
                            <div class="limiter">
                                <div class="container-table100">
                                    <div class="wrap-table100">
                                        <div class="table100 ver5 m-b-110">
                                            <table data-vertable="ver5">
                                                <thead>
                                                    <tr class="row100 head">
                                                        <th class="column100 column0" data-column="column0">id Viaje
                                                        </th>
                                                        <th class="column100 column1" data-column="column1">id
                                                            Viajero
                                                        </th>
                                                        <th class="column100 column2" data-column="column2">Fecha de
                                                            inicio</th>
                                                        <th class="column100 column3" data-column="column3">Fecha de
                                                            regreso</th>
                                                        <th class="column100 column4" data-column="column4">Activo
                                                        </th>
                                                        <th class="column100 column5" data-column="column5">País
                                                            Destino
                                                        </th>
                                                        <th class="column100 column6" data-column="column6">
                                                            Dirección de
                                                            estadía</th>
                                                        <th class="column100 column7" data-column="column7">Cobro
                                                            por
                                                            libra (USD)</th>
                                                        <th class="column100 column8" data-column="column8">Teléfono
                                                        </th>
                                                        <th class="column100 column9" data-column="column9">Imagen
                                                            de
                                                            referencia</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for viaje in Viajes%}
                                                    <tr class="row100">
                                                        <td class="column100 column0" data-column="column0">
                                                            {{viaje[0]}}
                                                        </td>
                                                        <td class="column100 column1" data-column="column1">
                                                            {{viaje[1]}}
                                                        </td>
                                                        <td class="column100 column2" data-column="column2">
                                                            {{viaje[2]}}
                                                        </td>
                                                        <td class="column100 column3" data-column="column3">
                                                            {{viaje[3]}}
                                                        </td>
                                                        <td class="column100 column4" data-column="column4">
                                                            {{viaje[4]}}
                                                        </td>
                                                        <td class="column100 column5" data-column="column5">
                                                            {{viaje[5]}}
                                                        </td>
                                                        <td class="column100 column6" data-column="column6">
                                                            {{viaje[6]}}
                                                        </td>
                                                        <td class="column100 column7" data-column="column7">
                                                            ${{viaje[7]}}
                                                        </td>
                                                        <td class="column100 column8" data-column="column8">
                                                            {{viaje[8]}}
                                                        </td>
                                                        <td class="column100 column9" data-column="column9">
                                                            {{viaje[9]}}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="tab-pane text-center gallery" id="viajesDisponibles">
                        <div class="row">
                            <div class="limiter">
                                <div class="container-table100">
                                    <div class="wrap-table100">
                                        <div class="table100 ver5 m-b-110">
                                            <table data-vertable="ver5">
                                                <thead>
                                                    <tr class="row100 head">
                                                        <th class="column100 column0" data-column="column0">id Viaje
                                                        </th>
                                                        <th class="column100 column1" data-column="column1">Fecha de
                                                            inicio
                                                        </th>
                                                        <th class="column100 column2" data-column="column2">Fecha de
                                                            regreso</th>
                                                        <th class="column100 column3" data-column="column3">País
                                                            Destino</th>
                                                        <th class="column100 column4" data-column="column4">
                                                            Dirección de
                                                            estadía</th>
                                                        <th class="column100 column5" data-column="column5">
                                                            Cobro
                                                            por
                                                            libra (USD)
                                                        </th>
                                                        <th class="column100 column6" data-column="column6">Teléfono
                                                            Adicional</th>
                                                        <th class="column100 column7" data-column="column7">Imagen
                                                            de
                                                            referencia</th>
                                                        <th class="column100 column8" data-column="column8">Ordenar
                                                        </th>


                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for viaje in Activos%}
                                                    <tr class="row100">
                                                        <td class="column100 column0" data-column="column0">
                                                            {{viaje[0]}}
                                                        </td>
                                                        <td class="column100 column1" data-column="column1">
                                                            {{viaje[2]}}
                                                        </td>
                                                        <td class="column100 column2" data-column="column2">
                                                            {{viaje[3]}}
                                                        </td>
                                                        <td class="column100 column3" data-column="column3">
                                                            {{viaje[5]}}
                                                        </td>
                                                        <td class="column100 column4" data-column="column4">
                                                            {{viaje[6]}}
                                                        </td>
                                                        <td class="column100 column5" data-column="column5">
                                                            ${{viaje[7]}}
                                                        </td>
                                                        <td class="column100 column6" data-column="column6">
                                                            {{viaje[8]}}
                                                        </td>
                                                        <td class="column100 column7" data-column="column7">
                                                            {{viaje[9]}}
                                                        </td>
                                                        <td class="column100 column8" data-column="column8"> <a
                                                                href="/confirmarpedido/{{viaje[0]}}">Haz tu
                                                                Pedido</a></td>

                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <br><br>
                    <div class="tab-pane text-center gallery" id="works">
                        <div class="row">
                            <div class="limiter">
                                <div class="container-table100">
                                    <div class="wrap-table100">
                                        <div class="table100 ver5 m-b-110">
                                            <table data-vertable="ver5">
                                                <thead>
                                                    <tr class="row100 head">
                                                        <th class="column100 column0" data-column="column0">Usuario
                                                        </th>
                                                        <th class="column100 column1" data-column="column1">País
                                                            Importado
                                                        </th>
                                                        <th class="column100 column2" data-column="column2">Artículo
                                                        </th>
                                                        <th class="column100 column3" data-column="column3">Estado
                                                        </th>
                                                        <th class="column100 column4" data-column="column4">Precio
                                                        </th>
                                                        <th class="column100 column5" data-column="column5">Cantidad
                                                        </th>
                                                        <th class="column100 column6" data-column="column6">Fecha de
                                                            Entrega
                                                        </th>
                                                        <th class="column100 column7" data-column="column7">Total
                                                        </th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for pedido in Pedidos%}
                                                    <tr class="row100">
                                                        <td class="column100 column0" data-column="column0">
                                                            {{pedido[2]}}
                                                        </td>
                                                        <td class="column100 column1" data-column="column1">
                                                            {{pedido[13]}}
                                                        </td>
                                                        <td class="column100 column2" data-column="column2">
                                                            {{pedido[6]}}
                                                        </td>
                                                        <td class="column100 column3" data-column="column3">
                                                            {{pedido[7]}}
                                                        </td>
                                                        <td class="column100 column4" data-column="column4">
                                                            ${{pedido[8]}}
                                                        </td>
                                                        <td class="column100 column5" data-column="column5">
                                                            {{pedido[10]}}
                                                        </td>
                                                        <td class="column100 column6" data-column="column6">
                                                            {{pedido[15]}}
                                                        </td>
                                                        <td class="column100 column7" data-column="column7">
                                                            ${{pedido[16]}}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane active text-center gallery" id="pics">
                        <div class="row">
                            <div class="col-md-3 ml-auto">
                                <img src="https://images.unsplash.com/photo-1524498250077-390f9e378fc0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83079913579babb9d2c94a5941b2e69d&auto=format&fit=crop&w=751&q=80"
                                    class="rounded">
                                <img src="https://images.unsplash.com/photo-1506667527953-22eca67dd919?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6326214b7ce18d74dde5e88db4a12dd5&auto=format&fit=crop&w=750&q=80"
                                    class="rounded">
                                <img src="https://images.unsplash.com/photo-1505784045224-1247b2b29cf3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec2bdc92a9687b6af5089b335691830e&auto=format&fit=crop&w=750&q=80"
                                    class="rounded"> </div>
                            <div class="col-md-3 mr-auto">
                                <img src="https://images.unsplash.com/photo-1504346466600-714572c4b726?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6754ded479383b7e3144de310fa88277&auto=format&fit=crop&w=750&q=80"
                                    class="rounded">
                                <img src="https://images.unsplash.com/photo-1494028698538-2cd52a400b17?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83bf0e71786922a80c420c17b664a1f5&auto=format&fit=crop&w=334&q=80"
                                    class="rounded">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane text-center gallery" id="favorite">
                        <div class="row">
                            <div class="limiter">
                                <div class="container-table100">
                                    <div class="wrap-table100">
                                        <div class="table100 ver5 m-b-110">
                                            <table data-vertable="ver5">
                                                <thead>
                                                    <tr class="row100 head">
                                                        <th class="column100 column0" data-column="column0">No
                                                            Calificación</th>
                                                        <th class="column100 column1" data-column="column1">Usuario
                                                        </th>
                                                        <th class="column100 column2" data-column="column2">No
                                                            Pedido
                                                        </th>
                                                        <th class="column100 column3" data-column="column3">Nota
                                                        </th>
                                                        <th class="column100 column4" data-column="column4">
                                                            Comentarios
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for dato in Notas%}
                                                    <tr class="row100">
                                                        <td class="column100 column0" data-column="column0">
                                                            {{dato[0]}}
                                                        </td>
                                                        <td class="column100 column1" data-column="column1">
                                                            {{dato[3]}}
                                                        </td>
                                                        <td class="column100 column3" data-column="column3">
                                                            {{dato[5]}}
                                                        </td>
                                                        <td class="column100 column4" data-column="column4">
                                                            {{dato[6]}}
                                                        </td>
                                                        <td class="column100 column5" data-column="column5">
                                                            {{dato[7]}}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>



                </div>
            </div>


        </div>
    </div>


    <footer class="footer text-center ">
        <p>Travelers 2020</p>
    </footer>

    <script src="/static/js/PerfilDiseno.js"></script>
    <script src="/static/vendor-copy/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static/vendor-copy/bootstrap/js/popper.js"></script>
    <script src="/static/vendor-copy/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static/vendor-copy/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static/js/main3.js"></script>




</body>
</html>