<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Usuario</title>
</head>

<body>
    <h1>Registro de Usuario</h1>
    <br>

    {% if message %}
    <p style="color: red;">{{message}}</p>
    <br>
    {% endif %}
    {% with messages = get_flashed_messages() %}

    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% endwith %}
    <form action="/registrousuario" method="POST" enctype="multipart/form-data">
        Ingrese los datos solicitados
        <br><br>
        Nombre completo: <br>
        <input type="text" name="nombre" id="nombre" required>
        <br><br>
        Nombre de Usuario: <br>
        <input type="text" name="usuario" id="usuario" required>
        <br><br>
        Correo: <br>
        <input type="email" name="correo" id="correo" required>
        <br><br>
        Contraseña: <br>
        <input type="password" name="contraseña" id="contraseña" required>
        <br><br>
        Fecha de Nacimiento: <br>
        <input type="date" name="fecha" id="fecha" required>
        <br><br>
        Número de teléfono: <br>
        <input type="text" name="telefono" id="telefono" required>
        <br><br>
        País de Origen: <br>
        <input type="text" name="pais" id="pais" required>
        <br><br>
        Foto(Opcional): <br>
        <dl>
            <input type="file" name="file" id="file" autocomplete="off">
            <br><br>
        </dl>
        <input type="submit" value="Send">
    </form>
</body>

</html>