<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tus Pedidos</title>

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{url_for('static' , filename = 'images/icons/favicon.ico')}}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static' , filename = 'vendor-copy/bootstrap/css/bootstrap.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static' , filename = 'font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'vendor-copy/animate/animate.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static' , filename = 'vendor-copy/select2/select2.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static' , filename = 'vendor-copy/perfect-scrollbar/perfect-scrollbar.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'css/util.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'css/main3.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'css/form.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>
    <div class="login-form" action="/pedidosViajero" method="POST">

        <div class="main_title">
            <a href="/homeUsuario"><i style="color:white;" class="fas fa-home"></i></a>
            <a href="javascript:history.back()"><i style="color:white;" class="fas fa-arrow-circle-left"></i></a>
        </div>
        <center>
            <div class="left_area">
                <h2>TUS <span>PEDIDOS</span></h2>
            </div>
        </center>
        <h4> Mostrando Pedidos de: {{User}}</h4>

    </div>
    <br><br>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver5 m-b-110">
                    <table data-vertable="ver5">
                        <thead>
                            <tr class="row100 head">
                                <th class="column100 column0" data-column="column0">ID Pedido</th>
                                <th class="column100 column1" data-column="column1">Viajero</th>
                                <th class="column100 column2" data-column="column2">ID Viaje</th>
                                <th class="column100 column3" data-column="column3">Nombre del artículo</th>
                                <th class="column100 column4" data-column="column4">Estado</th>
                                <th class="column100 column5" data-column="column5">Precio (USD)</th>
                                <th class="column100 column6" data-column="column6">Peso (lb)</th>
                                <th class="column100 column7" data-column="column7">Cantidad</th>
                                <th class="column100 column8" data-column="column8">Otras especificaciones</th>
                                <th class="column100 column9" data-column="column9">URL</th>
                                <th class="column100 column10" data-column="column10">País</th>
                                <th class="column100 column11" data-column="column11">Fecha de pedido </th>
                                <th class="column100 column12" data-column="column12">Fecha estimada de entrega</th>
                                <th class="column100 column13" data-column="column13">Total</th>
                                <th class="column100 column14" data-column="column14">Actualizar</th>
                                <th class="column100 column15" data-column="column15">Calificar</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for dato in datos%}
                            <tr class="row100">
                                <td class="column100 column0" data-column="column0">{{dato[0]}}</td>
                                <td class="column100 column1" data-column="column1">{{dato[4]}}</td>
                                <td class="column100 column2" data-column="column2">{{dato[5]}}</td>
                                <td class="column100 column3" data-column="column3">{{dato[6]}}</td>
                                <td class="column100 column4" data-column="column4">{{dato[7]}}</td>
                                <td class="column100 column5" data-column="column5">${{dato[8]}}</td>
                                <td class="column100 column6" data-column="column6">{{dato[9]}}</td>
                                <td class="column100 column7" data-column="column7">{{dato[10]}}</td>
                                <td class="column100 column8" data-column="column8">{{dato[11]}}</td>
                                <td class="column100 column9" data-column="column9">{{dato[12]}}</td>
                                <td class="column100 column10" data-column="column10">{{dato[13]}}</td>
                                <td class="column100 column11" data-column="column11">{{dato[14]}}</td>
                                <td class="column100 column12" data-column="column12">{{dato[15]}}</td>
                                <td class="column100 column13" data-column="column13">${{dato[16]}}</td>
                                {% if (dato[7] != 'Entregado'): %}
                                <td class="column100 column13" data-column="column13"> <a
                                        href="/pedidosUsuario/{{dato[0]}}">Actualizar tu Pedido</a></td>
                                {%else:%}
                                <td class="column100 column13" data-column="column13">Actualizado</td>
                                {%endif%}
                                {% if (dato[17] == 0): %}
                                <td class="column100 column14" data-column="column14"> <a
                                        href="/calificarviajero/{{dato[0]}}">Califica tu Pedido</a></td>
                                {%else:%}
                                <td class="column100 column14" data-column="column14">Calificado</td>
                                {%endif%}

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="static\vendor-copy\jquery\jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="static\vendor-copy\bootstrap\js\popper.js"></script>
    <script src="static\vendor-copy\bootstrap\js\bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="static\vendor-copy\select2\select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="static\js\main3.js"></script>

</body>
</html>