<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Viajeros</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static' , filename = 'css/DiseñoCard.css')}}">
</head>
<body>
    <div class="boxContent">
        <center>
            <div class="left_area">
                <h1>VIAJEROS <span>DISPONIBLES</span></h1>
            </div>
        </center>
        <div class="main_title">
            <a href="javascript:history.back()"><i style="color:white;" class="fas fa-arrow-circle-left"></i></a>
        </div>
    </div>

    <br>
    <div class="center">
        {% for dato in datos%}
        <div class="card">
            <div class="additional">
                <div class="user-card">
                    <div class="level center">
                        Viajero {{dato[0]}}
                    </div>
                    <div class="points center">
                        <a href="/perfilViajero/{{dato[1]}}">Ver Perfil</a>
                    </div>
                    <svg width="110" height="110" viewbox="0 0 250 250" xmlns="http://www.w3.org/2000/svg" role="img"
                        aria-labelledby="title desc" class="center">
                        <g stroke="none" stroke-width="0" clip-path="url(#scene)">
                            <g id="head">
                                <img src="static\uploads\{{dato[11]}}" alt="Avatar" height="100" r="100">
                            </g>
                            <g id="shirt">

                            </g>
                        </g>
                    </svg>
                </div>
                <div class="more-info">
                    <h1>{{dato[3]}}</h1>
                    <div class="coords">
                        <span>Teléfono</span>
                        <span>{{dato[9]}}</span>
                    </div>
                    <div class="coords">
                        <span>Correo</span>
                        <span>{{dato[7]}}</span>
                    </div>
                    <div class="stats">
                        <div>
                            <div class="title">Viajes</div>
                            <i class="fa fa-plane" aria-hidden="true"></i>
                            <div class="value">{{dato[4]}}</div>
                        </div>
                        <div>
                            <div class="title">Pedidos</div>
                            <i class="fa fa-archive" aria-hidden="true"></i>
                            <div class="value">{{dato[5]}}</div>
                        </div>
                        <div>
                            <div class="title">Calificación</div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            {%if dato[5] == 0 :%}
                            <div class="value">N/A</div>
                            {%elif dato[6] != none:%}
                            <div class="value">{{dato[6]}}</div>
                            {%else:%}
                            <div class="value">N/A</div>
                            {%endif%}

                        </div>
                        <div>
                            <div class="title">Eficiencia</div>
                            <i class="fas fa-trophy"></i>
                            <div class="value infinity">∞</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="general">
                <h1>{{dato[3]}}</h1>
                <div class="left_area">
                    <h2>Usuario: <span>@{{dato[2]}}</span></h2>
                </div>
                <br>
                <div class="left_area">
                    <h2>País: <span>{{dato[10]}}</span></h2>
                </div>
                <span class="more">Muevete sobre la carta para más info</span>
            </div>
        </div>
        {% endfor %}


    </div>

</body>
</html>