<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tus viajes</title>
    Mostrando Viajes del Viajero id: {{Viajero}}
<style>
    table {
        width: 100%;
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 15px;
        text-align: left;
    }

    #t01 tr:nth-child(even) {
        background-color: #eee;
    }

    #t01 tr:nth-child(odd) {
        background-color: #fff;
    }

    #t01 th {
        background-color: black;
        color: white;
    }
</style>
</head>
<body>
    <h1><center>Actualiza tus viajes</center></h1>
    {% if message %}
    <p style="color: red;">{{message}}</p>
    <br>
    {% endif %}
    <form action="/viajesViajero" method="POST">
        Escribe el ID de la Solicitud que deseas actualizar:
        <br><br>
        ID Solicitud: <br>
        <input type="int" name="idsolicitud" id="idsolicitud">
        <br><br>
        Estado: <br>
        <select class="" name="estado" id="estado">
            <option value="none" selected>-</option>
            <option value="Aprobada">Aprobada</option>
            <option value="Denegada">Denegada</option>
        </select>
        <br><br>
        <input type="submit" value="Actualizar">
    </form>
    <br><br>
    <table class="tablaOrdenes" id="t01">
    
        <tr>
            <th>id Viaje</th>
            <th>id Viajero</th>
            <th>Fecha de inicio</th>
            <th>Fecha de regreso</th>
            <th>Activo</th>
            <th>País Destino</th>
            <th>Dirección de estadía</th>
            <th>Cobro por libra (USD)</th>
            <th>Teléfono</th>
            <th>Imagen de referencia</th>
        </tr>
        {% for dato in datos%}
        <tr>
            <td>{{dato[0]}}</td>
            <td>{{dato[1]}}</td>
            <td>{{dato[2]}}</td>
            <td>{{dato[3]}}</td>
            <td>{{dato[4]}}</td>
            <td>{{dato[5]}}</td>
            <td>{{dato[6]}}</td>
            <td>{{dato[7]}}</td>
            <td>{{dato[8]}}</td>
            <td>{{dato[9]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>