<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viajes Activos</title>
    <link rel="stylesheet" href="{{url_for('static' , filename = 'css/ViajesDisponibles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
    <div class="main_title">
        <h1>Viajes <span>Disponibles</span></h1>
        <div class="main-btns">
            <a href="#"><i class="fas fa-home"></i></a>
            <a href="#"><i class="fas fa-arrow-circle-left"></i></a> 
        </div>
    </div>
    <div class="pricing-table">
        {% for dato in datos%}
        <div class="pricing-card">
            <h3 class="pricing-card-header">Viaje</h3>
            <div class="price"><sup>$</sup>{{dato[9]}}<span>/lb</span></div>
            <ul>
                <li><strong>Viajero</strong> {{dato[2]}}</li>
                <div class="container">
                    <li><strong></strong><img src="static\uploads\{{dato[11]}}" class="profile_pic"></li>
                        <div class="middle">
                            <a href="/perfilViajero2/{{dato[1]}}" class="text-btn">Ver perfil</a> 
                        </div>
                </div>
                <li><strong>Inicio de Viaje</strong> {{dato[3]}}</li>
                <li><strong>Fin de Viaje</strong> {{dato[4]}}</li>
                <li><strong>País Destino</strong> {{dato[6]}}</li>
                <li><strong>Viajes realizados</strong> {{dato[12]}}</li>
                <li><strong>Calificacion</strong> {% if dato[14] != none: %}
            <td>{{dato[14]}}</td>
            {%else:%}
            <td>Sin Calificar</td>
            {%endif%}
                </li>    
            </ul>
            <a href="/confirmarpedido/{{dato[0]}}" class="order-btn">Realizar pedido</a>
        </div>
     {% endfor %}    
    </div>
</body>
</html> 